body {
    font: 400 14px/1.6 "Open Sans",sans-serif;
    background: url(/images/bg.jpg);
    margin: 0;
    padding: 0;
    color: #555;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    background: #eee;
    width: 100%;
    height: 55px;
    z-index: 100;
    border-bottom: 1px solid #ddd;
}

#mobile-menu{
  display: none;
}
#logo {
    position: fixed;
    top: 2px;
    margin: 0;
    padding: 10px 25px;
    width: auto;
    border-left: none;
}

#logo .express {
    display: block;
    font: 25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
    color: #444;
    }



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-left:5%;
    background-color: none;
}

li {
    display: inline;
}

#navMenu a{
    color: #666;
    margin: 0 5px;
    padding-right: 15px;
    text-decoration: none;
}

#navMenu{
    padding: 0;
    margin: 0;
    position: absolute;
    right: 183px;
    top: 15px;
    padding-left: 5%;
    z-index: 1000;
  }

  a#home-menu {
    font-weight: bold;
    color: #353535;
}

#home-content {
    margin: 120px 0 2% 5%;
    max-width: 900px;
    padding-right: 9%;
    background-color: none;
}

#description {
    margin-bottom: 40px;
    background-color: none;
}

#description .description {
    position: relative;
    top: -5px;
    font: 100 4.2em "Helvetica Neue","Open Sans",sans-serif;
    color: #aeaeae;
    line-height: .75;
}

#description .express {
    display: block;
    font: 4.5em "Helvetica Neue","Open Sans",sans-serif;
    font-weight: 100;
    color: #353535;
    margin-bottom: .25em;
}

span#description{
    position: relative;
    top: -5px;
    font: 100 4.2em "Helvetica Neue","Open Sans",sans-serif;
    color: #aeaeae;
    line-height: .75;
}

a {
    color: #259dff;
    text-decoration: none;
}

#install-command{
    font-family: Consolas,Monaco,"Andale Mono",monospace;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    max-width: 375px;
}

#intro {
    margin-left: 5%;
}

#boxes {
    margin-top: 30px;
}

.clearfix {
    display: inline-block;
}

#boxes div {
    width: 215px;
    margin-right: 50px;
    float: left;
    list-style: none;
    padding-bottom: 20px;
}

#boxes h3 {
    background: none;
    margin-top: 0;
    padding-top: 0;
    line-height: 1.25em;
}

#intro h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: normal;
    margin: 5px 0;
    color: #353535;
    -webkit-font-smoothing: antialiased;
}

#doc-languages{
  text-align: center;
    font-size: 12px;

}

p {
    margin: 10px 0;
    line-height: 1.35em;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    font-size: 11px;
}

#footer-content {
    display: table;
    margin: 0 auto;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
}
#footer-content div {
    float: left;
    background-repeat: no-repeat;
    background-position: 0 1px;  
    display: inline-block;
    padding-left: 5%;
}

.gh-btn {
    background-color: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#eee));
    background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -o-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;

}

.gh-btn, .gh-count {
    padding: 2px 5px 2px 4px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
}

.gh-btn, .gh-count, .gh-ico {
    float: left;
}

.github-btn {
    height: 20px;
    overflow: hidden;
}
#fork {
    background-image: url(/images/fork-icon.png);
    background-size: 11px 16px;
    padding-left: 15px;
}


@media (max-width: 899px){
  #logo {
    position: static;
    width: 100%;
      
  }
  #mobile-menu{
  display: block;
  margin-left: 1%;
  margin-top: 1%;
  } 
  a.express{
    display: none !important;
  }
  #logo a {
    display: table!important;
    margin: 0 auto;
    font-weight: bold ;
  }
  #navMenu{
    display: none;
  }
  #logo .express{
    font-weight: bold;
    margin-top: -38px;
  }
  .clearfix{
    background-color: none;
  }
  #boxes div {
    background-color: none;
    display: block;
    width: auto;

  }
  h3 {
    font-size: 16px;
    line-height: 23px;
    word-break: break-all;
    margin: 5px 0;
    color: #353535;
    -webkit-font-smoothing: antialiased;
  }
  #description .description {
    font-size: 3em;
    line-height: .9em;
}

}